[{:db/id -1, :lex.parcelAttestation/lexicon 1, :lex.parcelAttestation/id "com.etzhayyim.mitsuho.parcelAttestation", :lex.parcelAttestation/defs "{:main {:type \"record\", :record {:type \"object\", :properties {:soilClassification {:type \"string\"}, :landsRegistryCid {:type \"string\"}, :climateBaselineCid {:type \"string\"}, :parcelDid {:type \"string\"}, :biodiversityNoHarmAttestationCid {:type \"string\"}, :attestingAgronomistDid {:type \"string\"}, :areaHectares {:type \"number\"}, :waterSourceSustainableYieldM3PerYear {:type \"number\"}, :soilCarbonBaselineTonsCo2EqPerHa {:type \"number\"}}, :required [\"parcelDid\" \"landsRegistryCid\" \"areaHectares\" \"biodiversityNoHarmAttestationCid\" \"attestingAgronomistDid\"]}}}"}]
